body
{
    margin: 0;
    padding: 0;
}
h1
{
    background-color: green;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}
div
{
   border: 1px solid green;
   margin: 20px; 
   padding: 20px;
}
h3
{
    color: blue ;
    border: solid 2px aqua;
    
}
.negrito
{
    font-weight: bold;

}
.italico
{
    font-style: italic;

}
.azul
{
    color:blue;
}
.sublinhado
{
    text-decoration: underline;
}
.destaque
{
font-family: 'Courier New', Courier, monospace;
font-size: 20px;    
}
.cursiva
{
    font-family:"Lucida Handwriting";
    font-size: 20px;
    color: blue;
}
.google
{
    /*Cada aluno deve colocar sua preferencia de fonte*/
    font-family: 'Alumni Sans';font-size: 22px;
}